body {
	margin: 0;
	padding: 0;
}

.wrapper {
	width:  auto;
	margin: 0;
	background-image: url('../images/noisy.png');
}

.top-bar {
	height: 100px;
	margin-top: 0;
	width: auto;
	background-color: #ffffff;
	overflow: show;
	border-bottom: 2px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc; 
}

#page-header {
	color: #ffffff;
	background-color: #4aaaa5;
	float: left;
	height: 99.5px;
	margin-top: 0;
	margin-left: 80px;
	padding-left: 40px;
	padding-right: 40px;
}

#title {
	color: #ffffff;
	margin-top: 30px;
}

nav {
	float: right;
	margin-top: 40px;
	margin-right: 175px;

}

.nav-link {
	padding: 20px;
	text-decoration: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777777;
}

.footer {
	clear: both;
	text-align: center;
	background-color: #666666;
	color: #ffffff;
	height: 90px;
	margin-bottom: 0;
	padding-top: 20px;
	border-top: 5px;
	border-top-style: solid;
	border-top-color: #4aaaa5; 
}

.container {
	clear: both;
	width: 960px;
	margin: 0 auto;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

h1, h2, h3, h4, h5 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}

#bio {
	float: left;
	background-color: #ffffff;
	width: 580px;
	margin-top: 40px;
	margin-right: 40px;
	margin-bottom: 40px;
	margin-left: 0;
	padding: 20px;
	border: .5px;
	border-style: solid;
	border-color: #cccccc;
}

#bio-img {
	height: 200px;
	width: 200px;
	float: left;
	padding: 10px;
}

aside {
	float: left;
	width: 240px;
	background-color: #ffffff;
	margin-top: 40px;
	padding: 20px;
	border: .5px;
	border-style: solid;
	border-color: #cccccc;
}

